table {
	border-bottom-style: inset;
	border-bottom-color: #4CAF50;
	width: 50%;
}

td {
	text-align: center;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

div {
	width: 50%;
	background-color: #4CAF50;
	color: white;
}

body {
	font-family: segoe ui;
	text-align: center;
	width: 1080px;
	margin: 0 auto;
}

.LeftTable {
	background-color: #4CAF50;
}

.RightTable:HOVER {
	background-color: #ddd;
}